.services_container {
    box-sizing: border-box;
    text-align: left;
}

.services_header_container {
    margin-left: 10px;
}

.service_main_container {
    width: 100%;
    margin: 0 auto;
    max-width: 1274px;
}

.service_main_container_two {
    width: 100%;
    margin: 0 auto;
    max-width: 1274px;
    padding-top: 70px;
}

.service_header_container {
    padding: 70px 0 0 70px;
}

.service_header {
    font-weight: 600;
    font-size: 2rem;
}

.service_subHeader {
    font-size: 1rem;
    margin-top: 10px;
}

.service_content {
    color: #ffffff;
    margin: 48px 10px 0 10px;
    text-align: justify;
}

.service_image_container {
    width: 50%;
}

.service_image {
    position: relative;
    width: 100%;
    height: 465px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
}

.service_image::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background: transparent linear-gradient(90deg, #1A0000B8 0%, #1A0000B8 100%) 0% 0% no-repeat padding-box;
}

.service_subcontent_container {
    position: absolute;
    padding: 0 20px 0 20px;
    top: 50px;
    left: 20px;
}

.service_inner_header {
    color: #ec0b43;
    font-size: 20px;
    margin: 10px 0 2px 0;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
.service_inner_header::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background: #ec0b43;
    left: 0;
    top: 30px;
}

.service_inner_data {
    margin-top: 10px;
    width: 75%;
    line-height: 1.5rem;
    font-size: 17px;
    max-height: 250px;
    overflow-x: hidden;
    padding-right: 10px;
}

.service_btn {
    text-transform: capitalize;
    margin-top: 15px;
    width: 150px;
    font-size: 1rem;
}

.service_swiper {
    width: 100%;
    height: 500px;
    color: #ffffff;
    margin-top: 48px;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .service_inner_data {
        width: 100%;
    }
}