.home-page-project-container {
    width: 100%;
    margin-top: 25px;
}

.home-page-project-main-container {
    max-width: 1274px;
    margin: 0 auto;
    padding: 0 10px;
}

.home-page-project-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-banner-project-link {
    color: #008489;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    padding: 0px;
    vertical-align: top;
}

.home-page-project-display-container {
    position: relative;
    padding: 25px 25px 90px 25px;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    margin-top: 25px;
    border-radius: 10px;
}

.home-page-project-card-container {
    box-shadow: inset -3px -6px 16px 0px rgba(0,0,0,.1490196078), inset 9px 5px 14px 0px rgba(0,0,0,.1490196078);
    padding: 15px;
    border-radius: 10px;
}

.home-page-project-card-image {
    width: auto;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.project_card_header {
    font-weight: 600;
    font-size: 22px;
}

.home-page-container-content-wrapper {
    text-align: left;
    line-height: 30px;
    padding: 5px;
    color: #000000;
}

.home-page-container-content-wrapper div {
    width: auto;
}

.home-page-project-slider-main-container {
    position: static;
}

.home-page-project-swiper-navigator {
    position: absolute;
    bottom: 25px;
    right: 30px;
    z-index: 99;
}