/* .homeBanner-container {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    background-position: 75%;
}

.banner-header {
    font-size: 5rem;
    margin: 0;
}

.banner-subheader {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
}

.home-banner-icon-container {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(109, 106, 106, 0.4);
    left: 50%;
    cursor: pointer;
}

.home-banner-icon-container:hover {
    background-color: rgb(24, 23, 23);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.home-banner-icon {
    animation: bounce 0.7s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
      transform: translateY(5px);
    }
    to {
      transform: translateY(0px);
    }
}

@media screen and (max-width: 768px) {
    .banner-header {
        font-size: 2.5rem;
    }

    .banner-subheader {
        font-size: 1.5rem;
    }
} */

.home_banner_container {
    height: 70vh !important;
}

.home_banner_inner_container {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    position: relative;
}

.home_banner_inner_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(90deg, #000b1ab8 0%, #1A0000B8 100%) 0% 0% no-repeat padding-box;
}