.about_container {
    margin: 0 auto;
    max-width: 1280px;;
    padding: 0 24px;
    width: 100%;
    margin-top: 25px;
}

.about_sup_label {
    font-size: 20px;
    vertical-align: text-top;
}

.about_row_container {
    margin-top: 70px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #7eb5b9;
    border-radius: 10px;
}

.about_col {
    width: 50%;
    flex: 0 0 auto;
}

.about_col:nth-child(3) {
    display: none;
}

.about_header_text {
    padding-right: 10px;
}

.about_main_header {
    font-weight: 500;
    letter-spacing: .7px;
    margin: 18px 0 0;
}

.about_headers_content {
    font-size: 28px;
    text-align: left;
    font-weight: 600;
    line-height: 42px;
    padding-left: 15px;
}

.main_about_container {
    margin: 50px auto 0 auto;
    text-align: justify;
    padding: 0 25px;
}

.main_about_header_content {
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
}

.main_about_header_content::after {
    margin-top: 10px;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 10%;
    background-color: red;
}

.main_about_para_container {
    padding-top: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 70px
}

.about_sub_container {
    text-align: left;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 24px;
    width: 100%;
}

.about_sub_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about_col_container_second {
    flex: 0 0 auto;
    width: 50%;
}

.about_col_container_second:nth-child(3) {
    display: none;
}

.about_col_container {
    flex: 0 0 auto;
    width: 50%;
}

.about_sub_image_container {
    margin: 0 auto !important;
    max-width: 510px;
}

.sub_about_image {
    width: 510px;
    object-fit: contain;
    margin: 0 0 1.45rem;
    max-width: 100%;
    height: 510px;
}

.about_col_container:nth-child(3) {
    display: none;
}

.about_sub_header_container {
    font-weight: 500;
    letter-spacing: .7px;
    margin: 18px 0 0;
}

.about_sub_header {
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
}

.about_sub_text {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .7px;
    margin: 10px 0 0;
}

.gallery_container  {
    -webkit-column-count: 3;
    overflow-y: hidden;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}

.about_sub_row:nth-child(even) {
    flex-direction: row-reverse;
}

.gallery_single_imahe_container {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.gallery_image {
    width: 100%;
    border-radius: 10px;
}

.story_main_container {
    padding: 30px;
    text-align: left;
}

.story_year {
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    display: block;
}

.Story_header {
    display: block;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
}

.story_content {
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.about_us_summary_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about_us_summary_images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.summery_icons {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.summary_content {
    border-left: 1px solid #d8d8d8;
    padding: 5px;
}

.about_inner_count {
    font-size: 30px;
    line-height: 1em;
}

.about_inner_content {
    font-size: 16px;
    font-weight: 400;
}
.about_row_container_image {
    margin-top: 30px;
}

.about_image {
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    background-position: 50% 50%;
}

@media screen and (max-width: 1024px) {
    .summery_icons {
        margin: 0 5px 0 0;
        height: 40px;
        width: 40px;
    }

    .about_inner_count {
        font-size: 25px;
        line-height: 1em;
    }
}

@media screen and (max-width: 768px) {
    .about_inner_content {
        font-size: 12px;
        font-weight: 400;
    }

    .summery_icons {
        height: 20px;
        width: 20px;
    }

    .about_inner_count {
        font-size: 16px;
        line-height: 1em;
    }

    .main_about_container {
        padding: 0 16px;
    }

    .about_col_container:nth-child(1) {
        display: none;
    }

    .about_col_container:nth-child(3) {
        display: block;
    }

    .about_col_container_second:nth-child(3) {
        display: block;
    }

    .about_col_container_second:nth-child(2) {
        display: none;
    }

    .about_col_container_second {
        flex: 0 0 auto;
        width: 100%;
    }

    .about_col_container {
        flex: 0 0 auto;
        width: 100%;
    }

    .sub_about_image {
        height: 350px;
        width: 100%;
    }

    .about_sub_header {
        font-size: 28px;
    }

    .about_sub_text, .main_about_para_container{
        font-size: 16px;
        line-height: 28px;
    }

    .about_col {
        flex: 0 0 auto;
        width: 100%;
        flex-direction: column-reverse;
    }

    .about_col:nth-child(1) {
        display: none;
    }

    .story_year {
        font-size: 80px;
    }

    .story_content {
        font-size: 16px;
        line-height: 28px;
    }

}

@media screen and (max-width: 764px) {
    .main_about_header_content::after{ 
        width: 25%;
    }

    .sub_about_image {
        height: 250px;
    }

    .about_container {
        padding: 0 15px;
    }

    .main_about_container {
        padding: 0;
    }
}