.admin_side_bar_container {
    position: fixed;
    width: 270px;
    top: 40px;
    z-index: 8;
    background: linear-gradient(180deg, rgb(0, 0, 91) 0%, rgb(57, 0, 2) 100%);
    left: 0;
    height: 100vh;
}

.admin_side_bar_header {
    padding: 15px 0px;
    width: auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.admin_side_bar_list {
    color: #fff;
    line-height: inherit;
    font-weight: 400;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.admin_side_bar_links {
    color: #fff;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 12px 5px;
}

.admin_side_bar_links:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .admin_side_bar_container {
        display: none;
    }
}