.navBar-main-container {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.navBar-container {
    width: 85%;
    height: 65px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navBar-content {
    display: flex;
    gap: 5%;
    justify-content: flex-end;
}

.category-container {
    margin: auto;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffaf0;
    padding: 0 15% 0 15%;
}

.main-category-container {
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.categories-span {
    margin-bottom: 0;
    display: inline-block;
    cursor: pointer;
}

.category-logo {
    cursor: pointer;
}

.category-side-content {
    margin-bottom: 0;
    cursor: pointer;
}

.main-category-sub {
    display: flex;
}

.inner-category {
    display: none;
}