.navBar-container {
    width: 85%;
    height: 15vh;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}

.logo {
    width: 100px;
}

.navBar-content {
    display: flex;
    gap: 5%;
    justify-content: end;
}

.category-container {
    width: 100%;
    height: 7vh;
}