.footer_container_outer {
    position: relative;
    margin-top: 100px;
}

.footer_main_container {
    width: 100%;
    position: relative;
    /* padding-top: 70px; */
    background: transparent linear-gradient(90deg, #000a17b8 0%, #650101b8 100%) 0% 0% no-repeat padding-box;
}

.footer_inner_container {
    margin: 0 auto;
    padding: 0px;
    max-width: 1274px;
}

.footer_content_container {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding: 48px 0px;
    display: block;
    line-height: 1.43;
    font-size: 14px;
}

.footer_inner_content_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer_row {
    margin-right: -15px;
    margin-left: -15px;
}

.footer_row::after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background-color: #d1bec3;
    margin-top: 20px;
}

.footer_col {
    padding: 0 !important;
    text-align: left;
    width: 25%;
}

.footer_list {
    padding: 0px;
    margin-top: 18px;
    list-style-type: none;
    font-weight: 600;
}

.footer_list li {
    margin-bottom: 11px;
    display: block;
    margin-left: 0;
}

.footer_list li::before {
    display: none;
}

.footer_content_list {
    color: #ffffff;
    padding: 0px 0px;
    margin: 0;
    line-height: 1.1;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}

.footer_content_list:hover {
    text-decoration: none;
}

.footer_content_header {
    color: #ec0b43;
    font-size: 20px;
    font-weight: 600;
    display: block;
    line-height: 18px;
    margin-bottom: 0;
}

.sub_footer_container {
    margin-top: 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer_logo {
    width: auto;
    max-width: 120px;
    height: 100%;
    max-height: 60px !important;
    object-fit: contain;
    object-position: left;
}

.footer_container_one_content {
    color: #ec0b43;
    font-weight: 600;
    font-size: 17px;
}

.footer_container_one_content label {
    display: inline-block;
    width: 95%;
    padding-top: 15px;
}

.footer_container_one_content label:last-child {
    color: #d1bec3;
    padding-top: 5px;
}

.footer_summary_content {
    padding-top: 35px;
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    color: #ffffff;   
}

.footer_icons {
    color: #ffffff;
}

.footer_icon_container {
    float: right;
    padding-top: 25px !important;
}