.site_admin_login_form_container {
    margin-bottom: 25px !important;
    text-align: left;
}

.site_admin_login_label {
    font-weight: 400 !important;
    font-size: 18px !important;
    margin: 6px 0px;
    line-height: 1.43;
    display: inline-block;
    max-width: 100%;
}

.site_admin_login_field {
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #dee2e6 !important;
    line-height: 24px;
    font-weight: normal;
    height: 50px !important;
}

.error_tag {
    color: #ff5a5f;
}

.site_admin_login_button {
    background: #ff5a5f !important;
    border-color: #ff5a5f;
    border-radius: 5px;
    height: 50px !important;
    width: 100%;
}